*{
    font-family: 'Tahoma';
}


header > section{
    background-color: #7DA453;
    color: white;
    height: 120px;
}
header{
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.calendar-card{
    background-color: #AED581;
    width: 200px;
    height: 100px;
    margin: 7px;
    border: 1px solid #7DA453;
}
.calendar-card:hover{
    background-color: #7DA453;
    color: white;
}


footer{
    background-color: #7DA453;
    color: white;
    padding: 5px;
}


h5{
    text-align: center;
}
form{
    padding-top: 50px;
}