*{
    font-family: 'Garamond';
    text-align: center;
}
#kontener{
    display: flex;
}
main{
    width: 72%;
}
main > header{
    overflow: hidden;
    background-color: #795548;
    font-size: 170%;
}
main > section:nth-child(1){
    height: 400px;
}
aside{
    width: 28%;
}
aside > section{
    overflow: hidden;
    background-color: #BCAAA4;
    color: #795548;
    height: 400px;
}
footer{
    background-color: #795548;
    color: white;
    padding: 20px;
}
table{
    margin: auto;
    width: 80%;
    border: 1px solid #795548;
}
tr:hover{
    background-color: sienna;
    color: white;
}
h4{
    font-size: 200%;
}
img{
    padding: 20px;
    border-radius: 40px;
}
a{
    color: white;
}
input[type="radio"]{
    margin: 7px;
}