*{
    font-family: 'Cambria';
}
body{
    background-color: linen;
}

aside, header, footer{
    background-color: steelblue;
    color: white;
    text-align: center;
}
aside{
    width: 25%;
    height: 510px;
    margin: 0 1%;
    box-shadow: 4px 4px 5px dimgray;
}
header{
    width: 73%;
    height: 80px;
}
main{
    width: 73%;
    height: 400px;
}
button{
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: 0;
}
button:hover{
    background-color: navy;
}
.blok{
    background-color: lightblue;
    margin-right: 80px;
    padding: 10px;
    display: none;
}
.blok.widoczny{
    display: block !important;
}

#pasek_postepu{
    background-color: lightgray;
    width: 73%;
    margin-bottom: 10px;
}
#pasek_postepu_wnetrze{
    background-color: navy;
    width: 4%;
    height: 30px;
}
table{
    width: 100%;
    border: 1px dotted navy;
}

aside, header, main, #pasek_postepu{
    float: left;
}
footer{
    clear: both;
}