*{
    font-family: 'Helvetica';
}
body{
    background-color: lightsalmon;
    text-align: center;
}


main{
    display: grid;
    grid-template-columns: 30% 70%;
}

#left1{
    height: 400px;
    overflow: hidden;
}
#left2{
    background-color: darksalmon;
    height: 100px;
    overflow: hidden;
}


main > section{
    background-color: darksalmon;
    height: 500px;
    overflow: auto;
}


img{
    width: 100%;
}


.filter-p{
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}
.filter-p:hover{
    color: ghostwhite;
}


table, td{
    border: 1px dotted maroon;
}
table{
    width: 70%;
    margin: auto;
}