*{
    font-family: 'Cambria';
}
header{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}
main{
    background-image: url(tulipany.jpg);
    height: 500px;
}
footer{
    display: flex;
}
footer > section{
    background-color: #C2185B;
    color: white;
    width: 25%;
    height: 240px;
}
form{
    display: flex;
}
.blok_formularza{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
    opacity: 0;
}
.blok_formularza.widoczny{
    opacity: 1;
}


p{
    padding-top: 20px;
}
a{
    color: white;
}
input:not([type="submit"]){
    width: 80%;
    height: 30px;
    margin: 10px;
}
button{
    background-color: #c2185b;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: 0;
}
video{
    width: 100%;
    height: 100%;
}