*{
    font-family: 'Tahoma';
}

header > section{
    background-color: #519657;
    color: white;
    text-align: center;
    height: 150px;
}
header{
    display: grid;
    grid-template-columns: 70% 30%;
}

main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
main > aside, main > section{
    background-color: #E1E1E1;
    height: 450px;
}
main > section{
    overflow: auto;
}

footer{
    background-color: #80C683;
    text-align: center;
}
footer > p{
    margin: 0;
}

img[src="obraz2.jpg"]{
    width: 100%;
    padding: 100px 0;
}

table{
    border: 1px solid #80C683;
}
td{
    padding: 2px;
}
tbody > tr:last-child{
    background-color: red;
}
tr:hover{
    background-color: #80C683;
}