body{
    font-family: 'Tahoma';
}
header{
    display: grid;
    grid-template-columns: 70% 30%;
}
header > section{
    background-color: #003d33;
    color: white;
    text-align: center;
    height: 50px;
}
main{
    display: grid;
    grid-template-columns: 30% 70%;
}
main > aside, main > section{
    background-color: #26a69a;
    height: 550px;
}
footer{
    background-color: #003d33;
    color: white;
}
#wizytowka{
    width: 400px;
    margin: 30px;
    text-align: center;
    border: 1px solid #003d33;
}
#wizytowka button{
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
}
#wizytowka button:hover{
    background-color: #004c40;
}