*{
    font-family: 'Cambria';
}
header, footer{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 400px;
}
#lewy, #prawy{
    background-color: #B3C6D9;
    padding-top: 100px;
}
#srodkowy{
    background-color: #E0E9F1;
    text-align: center;
    padding-top: 100px;
}
table{
    border: 1px solid dimgray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
td, th{
    border: 1px solid dimgray;
    border-collapse: collapse;
}
td:hover{
    background-color: steelblue;
    color: white;
}
img{
    width: 100%;
    border-radius: 20px;
}